body {
  background-image: url("https://cdn.wallpapersafari.com/9/96/9dk3Nm.jpg");
  background-attachment: fixed;
  background-size: cover;
  padding: 40px;
}

 .container{
    background-color: white;
    width: 350px;
    padding: 30px;
    border-radius: 20px;
    
  }
