body {
  background-image: url("https://i.pinimg.com/1200x/01/4f/81/014f8136dadc57a33056dc319c2111af.jpg");
  background-attachment: fixed;
  background-size: cover;
  padding: 40px;
}

h1 {
  color: indianred;
}

.position{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 20px;
}
.images{
  gap: 20px;
}
.box2{
  display: flex;
  flex-direction: column;
}
